<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Refresh" content="5">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="nav-md">
        {% block content %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
